<p>editemployee works!</p>


<section id="editEmployee">
  <h2>Edit Employee</h2>
  <form>
    <label for="employeeId">Employee ID:</label>
    <input type="text" placeholder="Enter Employee ID" id="employeeId" name="employeeId" required>

    <label for="newName">New Name:</label>
    <input type="text" placeholder="Enter New Name" id="newName" name="newName">

    <label for="newEmail">New Email:</label>
    <input type="email" placeholder="Enter New Email" id="newEmail" name="newEmail">

    <label for="newPosition">New Position:</label>
    <input type="text" placeholder="Enter New Position" id="newPosition" name="newPosition">

    <button type="submit">Update</button>
  </form>
</section>
