<li *ngIf="loginService.isLoggedIn()">
<app-header></app-header>
</li>

<div class="container">
  <h1>Employee Management</h1>

  <ul>
    
    <li *ngIf="loginService.isLoggedIn()">
      <a routerLink="/addemployee" routerLinkActive="active">Add Employee</a>
    </li>
    <li *ngIf="loginService.isLoggedIn()">
      <a routerLink="/editemployee" routerLinkActive="active">Edit Employee</a>
    </li>
    <li *ngIf="loginService.isLoggedIn()">
      <a routerLink="/deleteemployee" routerLinkActive="active">Delete Employee</a>
    </li>
    <li *ngIf="loginService.isLoggedIn()">
      <a routerLink="/viewemployee" routerLinkActive="active">View Employees</a>
    </li>

    <!-- Always show the login link -->
    <li *ngIf="!loginService.isLoggedIn()">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
<li *ngIf="loginService.isLoggedIn()">
<app-footer></app-footer>
</li>

